numpy
faiss-cpu
ollama
PyPDF2
beautifulsoup4
lxml
pytesseract
Pillow
openai-whisper
torch
python-dotenv
tqdm
fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-ollama
langchain-community
langchain-groq
langchain-experimental
langchain-text-splitters
streamlit
groq
python-docx
python-pptx
